@charset "UTF-8";
.menu, .menu .menu__item .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider .slider__previous-control, .slider .slider__next-control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.slider .slider__previous-control, .slider .slider__next-control, .slider .slider__previous-control:active, .slider .slider__next-control:active, .slider .slider__previous-control:focus, .slider .slider__next-control:focus {
  outline: none;
}

.slider .slider__previous-control:after, .slider .slider__next-control:after {
  content: '';
  position: relative;
  border: 13px solid transparent;
}

.form-container .form .form__gender-labels, .form-container .form .form__career-labels {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
}

.form-container .form .form__gender-labels label, .form-container .form .form__career-labels label {
  position: relative;
}

.form-container .form .form__gender-labels label input, .form-container .form .form__career-labels label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.form-container .form .form__gender-labels label span, .form-container .form .form__career-labels label span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(100% + 8px);
  border: 1px solid black;
  background-color: white;
}

.black-button {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 0;
  font-size: 18px;
  color: white;
  background-color: black;
  cursor: pointer;
}

body {
  margin: 0;
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body label {
  margin: 0;
}

body hr {
  margin: 0;
  border-color: black;
}

header {
  height: 48px;
  font-size: 18px;
  background-color: #004272;
  color: white;
}

nav,
.menu,
.menu__item {
  height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu .menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}

.menu .menu__item .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px 25px 20px 15px;
  cursor: default;
}

.menu .menu__item .submenu .submenu__item {
  cursor: pointer;
}

.menu .menu__item:hover .arrow-down-icon-container,
.menu .menu__item:hover .submenu {
  background-color: #00C2FF;
}

.menu .menu__item:hover .arrow-down-icon {
  transform: scale(1, -1);
}

.menu .menu__item:hover .submenu {
  display: block;
}

.menu .menu__item .arrow-down-icon-container {
  width: 100%;
  position: absolute;
  bottom: -1px;
  padding-bottom: 1px;
  text-align: center;
  line-height: 10px;
}

.menu .menu__item .arrow-down-icon-container .arrow-down-icon {
  width: 11px;
  height: 11px;
}

.container {
  padding: 0 40px;
}

.container:nth-of-type(3) {
  padding: 0 148px;
}

.breadcrumbs {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 38px;
}

.breadcrumbs .breadcrumbs__link,
.breadcrumbs .breadcrumbs__link:hover,
.breadcrumbs .breadcrumbs__link:active {
  color: black;
}

.breadcrumbs .breadcrumbs__separator {
  margin-left: 6px;
  margin-right: 6px;
}

.article:first-of-type {
  margin-bottom: 101px;
}

.article:first-of-type .article__first-paragraph {
  margin: 19px 0 43px 0;
}

.article .article__heading {
  font-size: 96px;
}

.article .article__subheading {
  position: relative;
  top: -20px;
  font-size: 36px;
}

.article .article__heading,
.article .article__subheading {
  margin: 0;
}

.article:nth-of-type(2) .article__paragraph-container:first-of-type {
  margin-top: 32px;
}

.article:nth-of-type(2) .article__paragraph-container {
  margin-bottom: 32px;
}

.article:nth-of-type(2) .article__image {
  width: 188px;
  height: 188px;
  background-color: #C4C4C4;
}

.article:nth-of-type(2) .article__image-container:last-child {
  margin-left: auto;
}

.load-more-news-btn {
  padding-left: 100px;
  padding-right: 100px;
  margin: 47px auto 47px auto;
}

.icons__row .icons__small-icon,
.icons__row .icons__big-icon {
  height: 100%;
}

.icons__row:nth-of-type(2) {
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.doctor-image-container {
  display: flex;
  justify-content: center;
  width: 626px;
  height: 339px;
  border-radius: 8px;
  position: relative;
  margin: 210px auto 69px auto;
  background-color: #E2E2E2;
}

.doctor-image-container .doctor-image {
  position: absolute;
  bottom: 0;
}

.plain-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

.plain-text p {
  margin: 0;
}

.plain-text .plain-text__paragraph:nth-of-type(2) {
  margin: 66px 0 42px;
}

.rects-row {
  justify-content: space-between;
  margin-top: 50px;
}

.rects-row .rect-container:nth-of-type(2) .rect {
  background-color: red;
}

.rects-row .rect {
  height: 152px;
  background-color: #C4C4C4;
}

.slider {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 58px;
  color: white;
}

.slider .slider__content {
  padding: 73px 104px 47px 109px;
  background-color: black;
}

.slider .slider__content .article__subheading,
.slider .slider__content .content__button {
  font-size: 36px;
}

.slider .slider__content .article__paragraph {
  margin-top: 14px;
  margin-bottom: 25px;
}

.slider .slider__content .content__button {
  display: block;
  width: 249px;
  height: 50px;
  margin: auto;
  line-height: 42px;
  border: 0;
  color: black;
  background-color: white;
  cursor: pointer;
}

.slider .slider__label-0 {
  width: 18px;
  height: 18px;
  margin-top: 27px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider #slider__radio-0 {
  display: none;
}

.slider #slider__radio-0:checked + .slider__label-0 {
  background-color: black;
  border: none;
}

.slider .slider__label-1 {
  width: 18px;
  height: 18px;
  margin-top: 27px;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider #slider__radio-1 {
  display: none;
}

.slider #slider__radio-1:checked + .slider__label-1 {
  background-color: black;
  border: none;
}

.slider .slider__label-2 {
  width: 18px;
  height: 18px;
  margin-top: 27px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider #slider__radio-2 {
  display: none;
}

.slider #slider__radio-2:checked + .slider__label-2 {
  background-color: black;
  border: none;
}

.slider .slider__previous-control {
  left: -82px;
}

.slider .slider__previous-control:after {
  left: -10px;
  border-right: 20px solid black;
}

.slider .slider__next-control {
  right: -82px;
}

.slider .slider__next-control:after {
  right: -10px;
  border-left: 20px solid black;
}

.form-container {
  margin: 0;
}

.form-container .form {
  padding: 42px 109px 47px;
  background-color: #C4C4C4;
  font-size: 18px;
}

.form-container .form .form__heading {
  margin-bottom: 62px;
  text-align: center;
  font-size: 36px;
}

.form-container .form .form__input {
  width: 100%;
  padding: 11px 17px;
  border: 0;
}

.form-container .form .form__input[name='name'], .form-container .form .form__input[name='email'] {
  margin-bottom: 17px;
}

.form-container .form .form__input[name='telephone'] {
  margin-bottom: 26px;
}

.form-container .form .form__gender-labels .form__radio:checked + .form__styled-radio:after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
}

.form-container .form .form__gender-labels .form__styled-radio {
  top: 1px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.form-container .form .form__career-labels {
  margin: 39px 0 49px 17px;
}

.form-container .form .form__career-labels .form__checkbox:checked + .form__styled-checkbox {
  background-color: black;
}

.form-container .form .form__career-labels .form__checkbox:checked + .form__styled-checkbox:after {
  content: '';
  width: 9px;
  height: 16px;
  margin-bottom: 4px;
  margin-left: 2px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.form-container .form .form__career-labels .form__styled-checkbox {
  top: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.form-container .form .form__textarea {
  height: 200px;
  border: 0;
  padding: 11px 17px;
  resize: none;
}

.form-container .form .form__submit-button {
  margin-top: 20px;
}

::placeholder {
  color: black;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

.news-container {
  margin-top: 90px;
  font-size: 14px;
}

.news-container .news-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-container .news-row .news {
  margin-bottom: 36px;
}

.news-container .news-row .news__illustration {
  height: 152px;
  background-color: #C4C4C4;
  margin-bottom: 17px;
}

.news-container .news-row .news__heading {
  font-size: 36px;
  margin: 0;
}

.news-container .news-row .news__subheading {
  margin-bottom: 17px;
}

.form-container:last-of-type .form {
  margin: 68px 0;
  padding-top: 57px;
  padding-bottom: 44px;
}

.form-container:last-of-type .form .form__heading {
  margin-bottom: 35px;
}

.form-container:last-of-type .form .form__input {
  margin-bottom: 0;
}

.form-container:last-of-type .form .form__submit-button {
  margin-top: 35px;
}

/* MEDIA QUERIES */
@media (max-width: 375px) {
  .menu .menu__item {
    display: none;
  }
  .menu:after {
    content: "МЕНЮ";
    align-self: center;
  }
  .container {
    padding: 0 29px;
  }
  .container:nth-of-type(3) {
    padding: 0 32px;
  }
  .breadcrumbs {
    margin-bottom: 33px;
  }
  .article:first-of-type {
    margin: 0;
  }
  .article:first-of-type .article__paragraph {
    display: none;
  }
  .article:first-of-type .article__paragraph.article__first-paragraph {
    display: block;
    margin: 65px 0 100px;
  }
  .article .article__heading {
    font-size: 46px;
  }
  .article .article__subheading {
    position: static;
    font-size: 28px;
  }
  .article:nth-of-type(2) .article__heading {
    margin-bottom: 88px;
  }
  .article:nth-of-type(2) .article__paragraph-container {
    margin-bottom: 25px;
  }
  .article:nth-of-type(2) .article__paragraph-container:last-of-type,
  .article:nth-of-type(2) .article__paragraph-container .article__paragraph {
    margin-bottom: 0;
  }
  .article:nth-of-type(2) .article__paragraph-container .article__image-container:last-child {
    margin-top: 25px;
  }
  .article:nth-of-type(2) .article__paragraph-container .article__image-container:first-child {
    margin-bottom: 25px;
  }
  .article:nth-of-type(2) .article__paragraph-container .article__image-container .article__image {
    width: 100%;
  }
  .load-more-news-btn {
    padding: 21px 0;
    margin: 37px 0 0;
  }
  .icons__row:first-of-type .icons__small-icon {
    margin-top: 58px;
  }
  .icons__row:first-of-type .icons__small-icon:last-of-type {
    margin-bottom: 0;
  }
  .icons__row:last-of-type .icons__small-icon {
    margin-bottom: 58px;
  }
  .icons__row:last-of-type .icons__small-icon:last-of-type {
    margin-bottom: 77px;
  }
  .icons__row:nth-of-type(2) {
    margin-top: 43.73px;
    margin-bottom: 55px;
  }
  .doctor-image-container,
  .more-news-btn {
    display: none;
  }
  .plain-text {
    padding-top: 16px;
    padding-bottom: 40px;
  }
  .rects-row {
    margin-top: 33px;
  }
  .rects-row .rect-container:nth-of-type(2) {
    order: -1;
  }
  .rects-row .rect-container:first-of-type {
    margin: 31px 0;
  }
  .slider {
    margin-top: 77px;
    margin-bottom: 46px;
  }
  .slider .slider__content {
    padding: 40px 26px 48px 45px;
  }
  .slider .slider__content .article__subheading {
    font-size: 24px;
  }
  .slider .slider__content .article__paragraph {
    margin: 20px 0;
  }
  .slider .slider__content .article__text-to-hide {
    display: none;
  }
  .slider .slider__content .content__button {
    width: 100%;
    position: relative;
    left: -8px;
  }
  .slider .slider__previous-control {
    left: -16px;
    top: 166px;
  }
  .slider .slider__next-control {
    right: -16px;
    top: 166px;
  }
  .form-container {
    margin: 0 -32px;
  }
  .form-container .form {
    padding: 40px 28px 25px;
  }
  .form-container .form .form__heading {
    margin-bottom: 20px !important;
  }
  .form-container .form .form__input {
    margin-bottom: 17px !important;
  }
  .form-container .form .form__input[name='telephone'] {
    margin-bottom: 0 !important;
  }
  .form-container .form .form__gender-labels, .form-container .form .form__career-labels {
    margin-left: 0px;
    flex-wrap: wrap;
  }
  .form-container .form .form__gender-labels .form__career-label:last-of-type, .form-container .form .form__career-labels .form__career-label:last-of-type {
    margin-left: auto;
    margin-top: 20px;
    order: 1;
  }
  .form-container .form .form__gender-labels {
    margin-top: 31px;
  }
  .form-container .form .form__career-labels {
    margin: 26px 0 13px;
  }
  .form-container .form .form__career-labels:after {
    content: '';
    width: 100%;
  }
  .form-container .form .form__submit-button {
    margin-top: 25px;
  }
  .news-container {
    margin-top: 64px;
  }
  .news-container .news {
    margin-bottom: 27px !important;
  }
  .form-container:last-of-type .form {
    margin-top: 6px;
    padding-top: 40px;
    padding-bottom: 42px;
  }
}
